.selector-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin-top: 10px;
  padding: 0 18px;
  background: #2c2c2c;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  > div {
    display: flex;
    flex-direction: column;
    span:first-child {
      font-size: 15px;
      line-height: 22px;
      color: #fff;
    }
    span:last-child {
      margin-top: 3px;
      font-family: PingFangSC;
      font-size: 13px;
      line-height: 13px;
      color: #fafbfc;
      opacity: 0.5;
    }
  }
  .placeholder {
    font-size: 15px;
    line-height: 22px;
    color: #fff;
  }
}
